<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\AAA学习生涯\s3\springBootClass\springbootMybatis_puls\src\main\java\com\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>